.textField {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px #e7e6e6;
  padding: 3%;
  padding-left: 5%;
  color: #999;
  margin: 1em 0.5em 1em 0.5em;
  width: 90%;
  height: 30px;
  outline: 0;
  font-size: 1.05em;
}
