.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 92vh;
  margin-top: 8vh;
  background: #f2f2f2;
}

.sidebar ul {
  display: block;
  padding: 2%;
  margin: 0;
  width: 95%;
}

.sidebar ul li {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
