li.player-banner {
  list-style: none;
  display: inline-block;
  width: 45%;
  text-align: center;
  padding: 2%;
  & > span {
    margin-left: 1%;
  }
  & > button {
    border: 0;
    background: transparent;
    margin-left: 1%;
    cursor: pointer;
    font-family: "Agbalumo", sans-serif;
    color: rgb(248, 114, 65);
  }
  & > button:hover {
    color: orangered;
  }
  & > input {
    width: 50px;
  }
}
