.mainContainer {
  border: 2px dashed #36d7b7;
  background: #fff;
  width: 92%;
  height: auto;
  padding: 2%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer div ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.mainContainer div ul li {
  width: 98%;
  height: auto;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
  margin-bottom: 1%;
  display: inline-block;
  background: #e1f0ed;
}

.mainContainer div ul li span {
  font-weight: bold;
  margin-right: 1%;
  padding: 5px;
  background: #afe8de;
}

.pagination {
  display: flex;
  width: 20% !important;
  height: auto;
  margin-left: 40% !important;
  margin-top: 30px !important;
  background: transparent !important;
}

.pagination li {
  align-items: center;
  width: 130px;
  padding: 10%;
  background: white;
  padding: 10px;
  background: transparent !important;
}

.pagination li button {
  width: 100%;
  height: 100%;
}

.numberActive {
  color: red;
}
